[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
schedule = "*"
mongoengine = "*"
beautifulsoup4 = "*"
pyTelegramBotAPI = "*"
pendulum = "*"
google-api-python-client = "*"
